@using RecipeBox.Models
@model RecipeBox.Models.Recipe
<div class ="jumbotron">
<h2>Add an ingredient</h2>
</div>
<h4>Add an ingredient to this recipe: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RecipeId)



    @Html.Label("Select ingredient")
    @Html.DropDownList("IngredientId")

    <input type="submit" value="Save" class ="btn default" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>