@model RecipeBox.Models.Recipe
<div class ="jumbotron">
<h4>Add a new recipe</h4>
</div>
@using (Html.BeginForm())
{
    <div class ="headline">
        
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name)
            <br>
            @Html.LabelFor(model => model.Instructions)
            @Html.TextAreaFor(model => model.Instructions)
            <br>
            @Html.Label("Select ingredient")
            @Html.DropDownList("IngredientId")
            @Html.DropDownList("IngredientId", string.Empty)
            @Html.DropDownList("IngredientId", string.Empty)
            @Html.DropDownList("IngredientId", string.Empty)
            @Html.DropDownList("IngredientId", string.Empty)
            <br>
            @Html.LabelFor(model => model.Rating)
            @Html.TextAreaFor(model => model.Rating)
            <br>
            @Html.Label("Select tag")
            @Html.DropDownList("TagId")
     <br>
        
    <input type="submit" value="Add new item" class="btn default" />
    <br>
    <p>@Html.ActionLink("Show all recipes", "Index")</p>
    </div>
    

   
   
}
   