@model RecipeBox.Models.Recipe

<h4>Add a new recipe</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.Instructions)
    @Html.TextBoxFor(model => model.Instructions)

    @Html.LabelFor(model => model.Ingredients)
    @Html.TextBoxFor(model => model.Ingredients)

    @Html.Label("Select tag")
    @Html.DropDownList("TagId")

    <input type="submit" value="Add new item" class="btn btn-info" />
}
<p>@Html.ActionLink("Show all recipes", "Index")</p>
   