@using System.Collections.Generic;

@using RecipeBox.Models
@model RecipeBox.Models.Recipe
<div class ="jumbotron">

<h2>Recipe Instructions</h2>
</div>
<hr />
<div class ="header">
  <h3>@Html.DisplayFor(model => model.Name)</h3>
</div>

<div class ="column.middle">
  <h3>@Html.DisplayNameFor(model => model.Instructions): @Html.DisplayFor(model => model.Instructions)</h3>

    @if(@Model.Ingredients.Count == 0)
  {
    <p>This recipe does not have any ingredients associated to it</p>
  }
  else
  {

    <h4>Ingredients for this recipe to:</h4>
    
    @foreach(var join in Model.Ingredients)
    {
      <li class="font-weight-bold">@join.Ingredient.IngredientName</li>
      @using (Html.BeginForm("DeleteIngredient", "Recipes"))
      {
        @Html.Hidden("joinId", @join.RecipeIngredientId) 
        <input type="submit" value="Delete" class="btn default"/>
      }
    }
    
  }

  <h3>@Html.DisplayNameFor(model => model.Rating): 
    @for (var i=0; i < Model.Rating; i++)
      {
        <span>★</span>
      }
      
  </h3>

  

</div>

<div class ="column.side">
@if(@Model.Tags.Count == 0)
{
  <p>This recipe does not have any tags associated to it</p>
}
else
{

  <h4>Tags for this recipe to:</h4>
  
  @foreach(var join in Model.Tags)
  {
    <li class="font-weight-bold">@join.Tag.TagCategory</li>
    @using (Html.BeginForm("DeleteTag", "Recipes"))
    {
      @Html.Hidden("joinId", @join.TagRecipeId) 
      <input type="submit" value="Delete" class="btn default"/>
    }
  }
  
}
</div>
<div class ="column.side">
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Recipe", "Edit", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Delete Recipe", "Delete", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Add a Tag", "AddTag", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Add an Ingredient", "AddIngredient", new { id = Model.RecipeId})</p>


</div>