@using System.Collections.Generic;

@model RecipeBox.Models.Recipe
<div class ="jumbotron">
<h2>Edit</h2>
</div>
<h4>Edit this recipe: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RecipeId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    
    <br>

    @Html.LabelFor(model => model.Instructions)
    @Html.EditorFor(model => model.Instructions)

    <br>

    @Html.LabelFor(model => model.Ingredients)
    @Html.EditorFor(model => model.Ingredients)

    <br>

    @Html.LabelFor(model => model.Rating)
    @Html.EditorFor(model => model.Rating)

    <br>

    @Html.Label("Tag")
    @Html.DropDownList("TagId", string.Empty)<br>

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>