@model RecipeBox.Models.Tag
<div class ="jumbotron">
<h2>Tag Details</h2>
</div>
<hr />
<h3>@Html.DisplayNameFor(model => model.TagCategory): @Html.DisplayFor(model => model.TagCategory)</h3>

@if(@Model.Recipes.Count == 0)
{
  <p>This tag does not contain any recipes</p>
}
else
{
  <h4>Recipes the tag contains:</h4>
  <ul>
  @foreach(var join in Model.Recipes)
  {
    <li>@join.Recipe.Name</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to tags", "Index")</p>
<p>@Html.ActionLink("Edit Tag", "Edit", new { id = Model.TagId })</p>
<p>@Html.ActionLink("Delete Tag", "Delete", new { id = Model.TagId })</p>