
@model RecipeBox.Models.Tag
<div class ="jumbotron">
<h2>Edit</h2>
</div>
<h4>Edit this tag: @Html.DisplayFor(model => model.TagCategory)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TagId)

    @Html.LabelFor(model => model.TagCategory)
    @Html.EditorFor(model => model.TagCategory)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to Tags", "Index")</p>